@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Odibee Sans", cursive;
  background-color: #242a38;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .header {
    position: absolute;
    top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: white;
      font-size: 4rem;
    }

    button {
      border-radius: 1rem;
      background: white;
      color: rgb(49, 43, 99);
      border: none;
      padding: 0.5rem 2rem;

      font-family: "Odibee Sans", cursive;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.board {
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem 6rem;
  background-color: #151a25;
  gap: 0.75rem;
  border-radius: 1rem;
  position: relative;

  .game-over {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151a25de;
    border-radius: 1rem;
    color: white;
    font-size: 4rem;
  }

  .grid-box {
    height: 6rem;
    width: 6rem;
    background-color: #242a38;
    border-radius: 1rem;
  }

  .tile {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .tile-2 {
    background: rgb(172, 128, 255);
  }

  .tile-4 {
    background: rgb(100, 62, 170);
  }

  .tile-8 {
    background: rgb(79, 29, 173);
  }

  .tile-16 {
    background: rgb(55, 8, 143);
  }

  .tile-32 {
    background: rgb(89, 0, 255);
  }

  .tile-64 {
    background: rgb(30, 15, 247);
  }

  .tile-128 {
    background: rgb(4, 25, 143);
  }

  .tile-256 {
    background: rgb(10, 23, 97);
  }

  .tile-512 {
    background: rgb(17, 146, 231);
  }

  .tile-1024 {
    background: rgb(15, 104, 163);
  }

  .tile-2048 {
    background: rgb(41, 207, 212);
  }
}
